.navbar-nav .sidebar-brand img {
  width: 58%;
}
.navbar-nav .sidebar-brand .sidebar-brand-text {
  font-family: system-ui;
  font-size: 20px;
}
.navbar-nav .nav-item .nav-link .icon-left {
  width: 25px;
  text-align: center;
}
.navbar-nav.sidebar .nav-item:hover {
  background: #016d38;
  border-radius: 0 30px 30px 0;
}
.navbar-nav .nav-item.active {
  background: #016d38;
  border-radius: 0 30px 30px 0;
}
@media screen and (max-width: 992px) {
  .sidebar.toggled.show {
    width: 145px !important;
  }
}
